<div>
	<h4>Tasks by status</h4>
	<div>Success: <b>{{statusSuccessQuantity}}</b>,
	Awaiting: <b>{{statusAwaitingQuantity}}</b>,
	Invalid callback: <b>{{statusInvalidCallbackQuantity}}</b>,
	Runtime exception: <b>{{statusRuntimeExceptionQuantity}}</b>.</div>
</div>


<h4>Tasks groups</h4>
{% if taskGroups %}
<table>
<tr>
	<th>Identifier</th>
	<th>Priority</th>
	<th>Failures limit</th>
	<th>Is active</th>
	<th>Start time</th>
	<th>End time</th>
</tr>
{% for taskGroup in taskGroups %}
<tr>
	<td>{{taskGroup.getIdentifier}}</td>
	<td>{{taskGroup.getPriority}}</td>
	<td>{{taskGroup.getFailuresLimit}}</td>
	<td>{{taskGroup.getIsActive}}</td>
	<td>{% if taskGroup.getStartTime %}{{taskGroup.getStartTime}}{% endif %}</td>
	<td>{% if taskGroup.getEndTime %}{{taskGroup.getEndTime}}{% endif %}</td>		
</tr>
{% endfor %}

</table>
{% else %}
<div>There is no Task groups at the moment.</div>	
{% endif %}
